*{
    /*Reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
    outline: none;

    /*Color*/
    --light-blue-100: hsla(227, 60%, 97%, 1);
    --dark-blue-300: hsla(213, 84%, 24%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --gray-500: hsla(210, 10%, 23%, 1);
    --decoder-btn: hsla(214, 26%, 88%, 1);
    --gray-400: hsla(210, 9%, 31%, 1);
}


.invisivel{
    display: none;
}

body{
    background:hsla(227, 60%, 97%, 1);
}


.cabecalho{
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    padding: 10px;
 
}

 

.logo{
    transform: scale(1.0);
    position: absolute;
    left: 40px;
}

.titulo{
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #0A3871;
    
}

 

main section{
    height: 80vh;
    width: 100%;
}

.palavra{
    display: none;
    
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.conteudo-forca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

 
 

.linhas{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-size: 50px;
    color: #0A3871;
}

span{
    margin: 5px;
    width: 50px;
    border-bottom: 2px solid #0A3871;
 
}

.none {

    color: hsla(227, 60%, 97%, 1);
}

.letras-erradas{
    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-size: 25px;
    padding: 5px;
    height: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: grid;
    color:rgb(45, 25, 155);
    text-align: center;
}

 

.final{
    width:200px;
    height: 30px;
    font-size: 30px;
    margin: none;
    border: none;
    position: absolute;
    text-align:center;
    right: 10%;
    top: 30%;
}

.perdeuimg{

    border-bottom: 2px solid hsla(227, 60%, 97%, 1);
    transform: scale(0.6);
    position: relative;
}


.venceu, .perdeu {

    top: 1rem;
    left: 50%;
    font-family: 'Inter', sans-serif;

    display: grid;
    place-items: center;

    text-align: center;

    border-radius: 1rem;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    width: 20rem;
    height: 5rem;

    color: white;
    font-weight: 700;
    user-select: none;
    transition: opacity 2s;
}



.venceu {
    background-color: #0A3871;
}

.perdeu {
    background-color: #0A3871;
}



.conteudo-palavras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.txt-palavras{
    font-size: 18px;

}

.menu-principal{
    text-align: center;
}

button{
    font-size: 16px;
    width: 300px;
    height: 70px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    transition: 1s;
}

button:hover{
    transform: scale(1.05);

}

.novo-jogo, .salvar, .desistir, .voltar{
    margin-bottom: 10px;
    margin-top: 30px;
}

.iniciar-jogo, .novo-jogo, .salvar{
   background-color: #0A3871;
   margin-top: 30px;
}

.add-palavra, .desistir, .voltar{
    background-color: #0A3871;
}

.titulo-txt{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #0A3871;

}

textarea {
    padding: 50px;
    border-radius: 5px;

}
#mensagem-erro{
    margin-left: 5px;
    font-size: 15px;
    height: 18px;
    color: #0A3871;
    font-family: 'Inter', sans-serif;
}



.morteimg {
    position: absolute;
    border-bottom: 2px solid hsla(227, 60%, 97%, 1);
    transform: scale(0.6);
}



footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    width: 100%;
    height: 5%;
    background:hsla(227, 60%, 97%, 1);
    position:fixed;
    bottom:0px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

footer a{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}